@import "./variables";

main .buscador {
    display: flex;
    flex-direction: column;
    align-content: center;

    h2 {
        @include menu-lista;
        color: $azul-textos;
        font-size: 25px;
        line-height: 33px;
        padding-left: 54px;
        padding-right: 54px;
        padding-bottom: 31px;

        span {
            color: $subrayado;
        }
    }

    #muchachos {
        width: 273px;
        align-self: center;
    }

    .busqueda {
        align-self: center;
        border: 1px solid $azul-textos;
        border-radius: 27px;
        width: 334px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        .contenedor {
            display: flex;

            img {
                width: 20px;
                display: none;
            }
            input {
                border: none;
                padding-left: 10px;
            }
        }
        button {
            background-color: $blanco;
            border: none;
        }
    }

    .trending {
        h3 {
            @include menu-lista;
            font-size: 16px;
            color: $azul-textos;
            line-height: 25px;
            padding-top: 31px;
        }
        h4 {
            @include menu-lista;
            color: $azul-textos;
            font-weight: 500;
            padding-left: 75px;
            padding-right: 75px;
            line-height: 25px;
            padding-bottom: 35px;
        }
    }
}

@media screen and (min-width: 1440px) {
    main .buscador {
        padding-top: 76px;

        h2 {
            font-size: 35px;
            line-height: 50px;
            padding-bottom: 24px;
            padding-left: 420px;
            padding-right: 420px;
        }
        #muchachos {
            width: 399px;
            align-self: center;
        }
        .busqueda {
            width: 551px;
        }
        .trending {
            h3 {
                padding-top: 4.8%;
            }
        }
    }
}
