$blanco: #ffffff;
$negro: #000000;
$azul-textos: #572ee5;
$color-redes: #cdd6e0;
$fondo-menu: rgba(87, 46, 229, 0.9);
$subrayado: #5ed7c6;
$trending-background: #f3f5f8;

@mixin menu-lista {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: $blanco;
    text-align: center;
    line-height: 60px;
}

@mixin texto-negro {
    font-family: "Roboto", sans-serif;
    color: $negro;
    font-size: 16px;
    text-align: center;
    line-height: 23px;
}
