@import "./variables";

@media screen and (min-width: 1440px){
.camara-video {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 15px;
    padding-left: 156px;

    .reproductor {
        #luz {
            width: 98px;
            height: 160px;
        }
    }
    .ventana {
        border: 1px solid $azul-textos;
        width: 688px;
        height: 390px;
        align-items: center;

        .detalle-ventana {
            position: relative;
            //border: 1px solid turquoise;
            width: 646px;
            height: 353px;
            margin-top: 18px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
        }
        .detalle-ventana .pantalla-uno {
            display: none;
            padding-top: 104px;

            h2 {
                @include texto-grabador;

                span {
                    color: $detalle-bordes;
                }
            }
            p {
                @include subtexto-grabador;
            }
        }
        .detalle-ventana .pantalla-dos {
            display: none;
            padding-top: 104px;
            h2 {
                @include texto-grabador;
            }
            p {
                @include subtexto-grabador;
            }
        }
        .detalle-ventana .grabacion {
            position: relative;
            width: 480px;
            height: 320px;
            border: 1px solid red;
            align-self: center;
        }

        .detalle-ventana .overlay-video-contenedor{
            margin-top: 16.5px;
            //padding-top: 140px;
            width: 480px;
            height: 320px;
            position: absolute;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(87, 46, 229, 0.6);

            #botones-post{
                    width: 100%;
                    padding-right: 12px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    position: absolute;
                    margin: 0;
                button {
                    width: 32px;
                    height: 32px;
                    margin-left: 10px;
                    border: 0;
                    border-radius: 6px;
                    margin-top: 10px;
                    background-color: $blanco;
                    color: $azul-textos;
                    opacity: 0.5;
                    i {
                        width: 100%;
                    }
                }
                button:hover{
                    opacity: 1;
                }
            }
            
            .primer-capa{
                position: relative;
                display: flex;
                flex-direction: column;
                margin: 0;
                display: none;
                padding-top: 140px;
                p{
                    padding-top: 10px;
                    @include subiendo-gif;
                }
            }
            .segunda-capa{
                position: relative;
                display: flex;
                flex-direction: column;
                //display: none;
                margin: 0;
                padding-top: 140px;
                p{
                    padding-top: 10px;
                    @include subiendo-gif;
                }
                
            }
        }

    }
}
.pasos-video{

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 485px;

    .cont-pasos{
        display: flex;
        
        p{
        width: 32px;
        height: 32px;
        margin-left: 25px;
        border: 1px solid $azul-textos;
        border-radius: 100%;
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
        color: $azul-textos;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        }
        p:first-child{
            margin-left: 0;
        }
    }
    #rep-captura{
        position: absolute;
        margin-left: 100px;
        padding-top: 35px;
    }
    #nueva-captura{
        display: none;
        text-decoration: none;
        @include estilo-repCaptura;
    }
    #nueva-captura:hover{
        text-decoration: underline;
        text-decoration-color: $subrayado;
    }
    #contador{
        display: none;
        @include estilo-contador;

    }
    img{
        padding-left: 336px;
    }
}
#separador{
    height: 6.9px;
    width: 795.9px;
    margin-left: 325px;
    background-color: $azul-textos;
    border-radius: 5px;

}
.botonera{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .boton{
            color: $azul-textos;
            background-color: $blanco;
            border: none;
            border: 1px solid $azul-textos;
            border-radius: 25px;
            width: 127px;
            height: 50px;
            font-family: "Montserrat", sans-serif;
            font-size: 13px;
            letter-spacing: 0;
            text-align: center;
            font-weight: 700;
        }
    .boton:hover{
            background-color: $azul-textos;
            color: $blanco;
    }
    #btn-grabar{
        display: none;
    }
    #btn-finalizar{
        display: none;
    }
    #btn-subgifo{
        display: none;
    }
}
}