body {
  border-top: 5px solid #572EE5;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 18px 19px 0px 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .logo #logoMob {
  display: block;
  width: 54px;
  height: 49px;
}

body header .logo #logoDesk {
  display: none;
}

body header .menu {
  padding-top: 3px;
}

body header .menu ul {
  padding-bottom: 0px;
  margin-top: 34px;
  width: 100%;
  position: absolute;
  top: 44px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: rgba(87, 46, 229, 0.9);
  height: 0px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

body header .menu ul li {
  padding-left: 16px;
  position: relative;
}

body header .menu ul li #btnCrearGifo {
  display: none;
}

body header .menu ul li a {
  font-family: 'Montserrat' , sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
  position: relative;
  text-decoration: none;
  display: block;
}

body header .menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 20.5px);
  width: 41px;
  border-bottom: 1px solid #FFFFFF;
  opacity: 0.5;
}

body header .menu ul li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #5ED7C6;
          text-decoration-color: #5ED7C6;
}

body header .menu ul li:first-child {
  padding-top: 16px;
}

body header .menu input {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}

body header .menu input[type="checkbox"]:checked ~ ul {
  height: 90%;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

body header .menu input[type="checkbox"]:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

body header .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

body header .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(-1px);
          transform: rotate(-45deg) translate(-1px);
}

body header .menu span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  position: relative;
  background: #000000;
  z-index: 1;
  -webkit-transform-origin: 3px 0px;
          transform-origin: 3px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.55s ease;
  transition: transform 0.5s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
}

@media screen and (min-width: 1440px) {
  body header {
    margin-left: 156px;
    margin-right: 100px;
  }
  body header .logo #logoDesk {
    display: block;
    width: 60px;
    height: 60px;
  }
  body header .logo #logoMob {
    display: none;
  }
  body header nav .menu input {
    display: none;
  }
  body header nav .menu span {
    display: none;
  }
  body header nav .menu ul {
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;
    background: unset;
    height: unset;
  }
  body header nav .menu ul li:last-child {
    padding-left: 58px;
  }
  body header nav .menu ul li {
    padding-top: 0;
    padding-left: 41.5px;
    display: inline-block;
  }
  body header nav .menu ul li #btnCrearGifo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 54px;
    width: 54px;
    border: 1px solid #572EE5;
    border-radius: 50%;
  }
  body header nav .menu ul li #btnCrearGifo #masHover {
    display: none;
  }
  body header nav .menu ul li #btnCrearGifo:hover {
    background-color: #572EE5;
  }
  body header nav .menu ul li #btnCrearGifo:hover #masHover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 16px;
  }
  body header nav .menu ul li #btnCrearGifo:hover #masNoHover {
    display: none;
  }
  body header nav .menu ul li a {
    color: #572EE5;
    padding: unset;
    line-height: unset;
  }
  body header nav .menu ul li a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #5ED7C6;
            text-decoration-color: #5ED7C6;
  }
}

footer {
  border-bottom: 5px solid #572EE5;
}

footer p {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 16px;
  text-align: center;
  line-height: 23px;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  padding-bottom: 28px;
}

footer .compartir {
  padding-top: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .compartir p {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 16px;
  text-align: center;
  line-height: 23px;
  font-size: 15px;
  letter-spacing: 0;
  padding-bottom: 0;
}

footer .compartir .redes {
  padding-top: 24px;
  padding-bottom: 47.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

footer .compartir .redes img {
  padding-left: 19px;
}

footer .compartir .redes img:first-child {
  padding-left: 0;
}

.compartir {
  padding-top: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.compartir p {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 16px;
  text-align: center;
  line-height: 23px;
  font-size: 15px;
  letter-spacing: 0;
}

.compartir .redes {
  padding-top: 24px;
  padding-bottom: 47.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.compartir .redes img {
  padding-left: 19px;
}

.compartir .redes img:first-child {
  padding-left: 0;
}

.trendingGifos {
  background-color: #F3F5F8;
}

.trendingGifos h2 {
  font-family: 'Montserrat' , sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
  color: #572EE5;
  font-size: 25px;
  line-height: 33px;
  padding-left: 54px;
  padding-right: 54px;
  padding-bottom: 7px;
  padding-top: 46px;
}

.trendingGifos p {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 16px;
  text-align: center;
  line-height: 23px;
}

.trendingGifos div {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 82px;
}

.trendingGifos div img {
  width: 243px;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto 0;
  padding: 0;
}

.mGifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mGifos .tituloMGifos {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mGifos .tituloMGifos #logocarita {
  width: 28px;
  height: auto;
  padding-bottom: 7px;
}

.mGifos .tituloMGifos h2 {
  font-family: 'Montserrat' , sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
  padding-bottom: 46px;
  font-size: 20px;
  color: #572EE5;
  line-height: 30px;
}

.mGifos .mgif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 78px;
}

.mGifos .mgif img {
  padding-left: 21px;
  width: 156px;
  height: 120px;
}

.mGifos .vermas {
  padding-bottom: 78px;
}

.mGifos .vermas .boton {
  color: #572EE5;
  background-color: #FFFFFF;
  border: none;
  border: 1px solid #572EE5;
  border-radius: 25px;
  width: 127px;
  height: 50px;
  font-family: 'Montserrat' , sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  text-align: center;
  font-weight: 700;
}
/*# sourceMappingURL=misGifos.css.map */